[2015-06-24 19:00] andrewvc opened #1 "Switch client to logstash standard Manticore gem"

[2015-06-24 19:01] andrewvc opened #2 "Support SSL (incl. custom CAs)"

[2015-06-24 19:20] andrewvc commented on #1
This should let users configure all manticore options

[2015-06-24 20:24] andrewvc opened #3 "Consider breaking http client into separate mixin"
A mixin that provides an HTTP client with all the fancy options set could be useful.

[2015-06-24 20:28] andrewvc opened #4 "Accept arbitrary headers"

[2015-06-25 14:13] andrewvc opened #5 "Support additional HTTP verbs"
This plugin should support additional HTTP verbs (PUT/PATCH/POST/DELETE) before 1.0 release.

[2015-06-25 21:41] andrewvc opened #6 "Write tests"
This thing needs tests!

[2015-06-25 22:03] maximede commented on #6
Let's discuss what tests we need

* happy path
* When remote server doesn't answer ( wrong dns/ timeout )
* When remote server respond with an error code ( 404/500/... )
* When we receive something else than what the configured codec wants ( html instead of json by example )
* What if the request takes more time than the configured timeout

[2015-06-26 14:58] andrewvc commented on #6
Those all sound good @maximede !

[2015-06-26 19:47] andrewvc commented on #6
@maximede Is there a subset of tests you'd like to tackle? We can collaborate here and split up the work.

[2015-06-26 20:00] maximede commented on #6
I think I'll have time this week-end to tackle the list by myself.
The only test that seems a bit trickier for me is the one request time vs timeout

[2015-06-26 20:20] #1 closed

[2015-06-26 20:31] maximede commented on #6
Actually, what could be really helpful for me is if you could write some kind of template for the tests. Ruby is not my main language, and I may lose some time trying to figure out how to mock the different kind of inputs.

[2015-06-28 22:36] maximede opened #7 "Should response be in message as a hash ?"
I disagree a bit with the new implementation regarding the decoding of the response body.
We are currently putting it completely in the message, as a hash.
It means that if you want to use the content present in the json/xml, you'll need to parse it in a filter.

I think it would it make sense to provide an option to parse the content of the response and add all the variables to the event, as I wa

[2015-06-28 22:53] andrewvc commented on #7
Hi Maxime! I was mostly worried that if variables such as 'url' were part of the event itself (url is a very common key) it would be overwritten, hence the nesting.

I'm definitely open to some alternative ideas here. I'd also considered flipping it around and stuffing the metadata in '_poller_metadata' or something. What are your thoughts?

[2015-06-28 22:59] maximede commented on #7
Actually, I've never really used nested variables with the elk stack. How well does it work ?
Maybe we could prefix all the variables the plugin is adding with 'http_poller' ?
I don't really now what the best practices are regarding this

[2015-06-28 23:00] maximede opened #8 "Plugin should be named logstash-input-http_poller"
To match the kind of name all current plugins are currently using.

I already made the modification in my gemspec on my local repo. Don't know what we should do regarding the github repo name

[2015-06-28 23:06] maximede commented on #6
I’ve started writing some test and I’ve hit a small problem.
The fact that the run method contains a "Stud.interval(@interval) do” seems to make the plugin not that easy to test.

The way I’m currently bypassing this problem is that I’ve extracted the content of the Stud_interval inside a public method named run_once(queue) and I’m directly testing this method.

I don’t really like the fact that t

[2015-06-28 23:10] andrewvc commented on #7
In terms of efficiency and usability. In Logstash, elasticsearch and kibana nested values are handled just as efficiently and easily as first level values since they all treat data as JSON-like hashes, arrays, and scalar values. They are just as query-able and efficient.

That being said, I think I think it makes sense to get some feedback from the rest of the logstash team on this tomorrow when t

[2015-06-28 23:18] andrewvc commented on #7
Also @maximede to be clear, the parsing actually happens in the codec, you don't need to parse it in a filter. You will get the fully parsed and structured JSON in the 'message' hash. I wasn't sure if you were clear on how the codecs worked here.

[2015-06-28 23:34] maximede commented on #7
Yes, I missed the part with the nested variables at first. I read the code a bit fast and I thought that we were storing the string result in the message.

[2015-06-29 14:41] andrewvc commented on #8
You're right, the extra dash is kind of irritating. Just renamed the git repo.

[2015-06-29 15:34] andrewvc commented on #7
I will register my preference that we keep the current format. [In-band Signalling](https://en.wikipedia.org/wiki/In-band_signaling) is usually just asking for some sort of trouble.

[2015-06-29 15:55] ph commented on #7
jumping in in this discussion.

I think this plugin is really similar to this one https://github.com/logstash-plugins/logstash-input-http, by default the plugin will replace the event with the unserialized json content of the request.body, to be consistent this plugin should have the same behavior.

For other values like `name` we can use the `@metadata` field, by default this key wont be serializ

[2015-06-29 15:57] andrewvc commented on #7
@ph that makes perfect sense. I'll move all the metadata around the HTTP request to the `@metadata` field. Also, agreed with the `success` field.

[2015-06-29 16:00] maximede commented on #8
Nice ! I guess we can close this one

[2015-06-29 16:00] #8 closed

[2015-06-29 21:27] andrewvc opened #9 "Should this plugin record non 2xx responses as events?"
I'm thinking we should just log responses out of the 2xx range as errors rather than sending them through. There are a large number of reasons a request could fail (no DNS entry) for instance, that would not generate an error code at all. It is my vote that we just dump all those into `@logger.warn`.

[2015-06-29 21:28] andrewvc commented on #9
Alternatively we could add a flag 'allow_failed_responses' that allows users to send a 404 or some such other response through the pipeline.

[2015-06-29 21:33] djschny commented on #9
@andrewvc I vote for a the ability to enable to send them through as docs, and tagging with appropriate fields/codes. This would helps support the monitoring case. For example if I'm monitoring a website URL, I can now run reports of when it was unreachable, versus timed out, versus 500, etc.

[2015-06-29 21:40] andrewvc commented on #9
@djschny that makes sense. In that case I'll make sure that all errors get passed through as events.

[2015-06-29 23:07] andrewvc commented on #6
Hey @maximede we should submit changes via PR now that we've got some initial code in the repo, which is our general practice for official Logstash plugins. No worries on your last push, but given that we have something that runs up at this point that's a good strategy.

Speaking of, I've got a mega PR up that addresses this ticket and some others. I took your tests as a base and added onto them.

[2015-06-29 23:35] maximede commented on #6
Ok, I'll submit a PR next time.
Thanks for refactoring my code, and sorry if it was a bit messy, I'm still not really used to ruby dev ^^

[2015-06-29 23:37] andrewvc commented on #6
Thanks , my apologies for not letting you know. I shouldn't have been
pushing directly either. I'm glad to help you with any ruby questions you
have! Your help has been much appreciated!

On Monday, June 29, 2015, Maxime Deravet <notifications@github.com> wrote:

[2015-06-30 13:47] elvarb opened #11 "Authentication?"
Does this plugin allow for authentication against http?

[2015-06-30 14:47] elvarb commented on #6
* SSL errors (when support for that comes https://github.com/logstash-plugins/logstash-input-http_poller/issues/2 )
* DNS errors, unable to resolve, unable to query DNS

[2015-06-30 14:47] andrewvc commented on #3
Has been broken out into: https://github.com/logstash-plugins/logstash-mixin-http_client

[2015-06-30 14:47] #3 closed

[2015-06-30 14:49] andrewvc commented on #5
This should also allow the user to set http auth (user/pass)

[2015-06-30 14:50] andrewvc commented on #11
It will as an extended option. I'm making this a part of https://github.com/logstash-plugins/logstash-input-http_poller/issues/5 . I'm going to close this to keep the discussion in one spot.

[2015-06-30 14:50] #11 closed

[2015-06-30 14:51] elvarb commented on #11
Makes sense, looking forward to see this pluging getting love :)

[2015-06-30 14:58] elvarb opened #12 "Making the input plugin a filter plugin also"
It would be extremely powerful to have a filter plugin on the same code base as the input filter.

This way we could use conditionals to do additional enrichment's in some cases.
- Input monitors elasticsearch health api
- If health is yellow do a filter check against the cluster api to see why it is yellow

With additional methods we could also automate reactions to events. Using post, delete and

[2015-06-30 15:00] andrewvc commented on #12
I'm interested in this, can you post a sample config for the filter API as you envision it?

[2015-06-30 15:03] elvarb opened #13 "Target option on the config"
If you poll a json api you get back a json object.

In some cases it would be helpful to have a target option in the config to dictate under what object the json object should fall into.

For example if you are using the http poller to query multiple system types so each object would fall to the correct place. This would minimize the risk of mapping issues on the elasticsearch end if you have two

[2015-06-30 16:02] andrewvc commented on #6
This should all be covered in https://github.com/logstash-plugins/logstash-input-http_poller/pull/10

[2015-06-30 17:31] maximede commented on #13
Wouldn't you use to different input type and save it to two different indexes in this case ?

[2015-07-02 01:02] suyograo opened #14 "Improve docs before publishing"
Can we add more details on how to use this plugin before we publish the gem? Also lets remove the WIP warning here: https://github.com/logstash-plugins/logstash-input-http_poller/blob/master/lib/logstash/inputs/http_poller.rb#L8

Also a changelog entry :)

[2015-07-02 01:11] suyograo commented on #9
@andrewvc with 2.0, we can start keeping metrics/counters on errors and expose them via API. For now I agree we should tag them and have them flow through

[2015-07-02 03:02] andrewvc commented on #9
With #10 merged in all errors will now be tagged, and metadata about the failure will be sent as a doc.. Thanks for the suggestion @djschny

[2015-07-02 03:02] #9 closed

[2015-07-02 03:02] #6 closed

[2015-07-02 03:03] andrewvc commented on #7
Fixed in #10

[2015-07-02 03:03] #7 closed

[2015-07-02 03:03] andrewvc commented on #2
Fixed in #10

[2015-07-02 03:03] #2 closed

[2015-07-02 03:04] andrewvc commented on #13
@elvarb is there something here that couldn't be accomplished via a mutate filter? I'd rather not try to solve stuff here that could be solved via a filter.

[2015-07-02 03:06] andrewvc commented on #12
Also @elvarb I've broken out the HTTP client into a [separate mixin plugin](https://github.com/logstash-plugins/logstash-mixin-http_client). For the use case you've mentioned, I feel like it'd be best to write a new plugin to do just that. That seems like a bit more logic than I'd like to put into a LogStash pipeline.

With the plugin mixin it's very easy to write something like what you describe.

[2015-07-02 16:17] andrewvc opened #15 "Add keepalive option"

[2015-07-02 16:17] andrewvc opened #16 "Support global headers"

[2015-07-02 16:33] andrewvc commented on #16
given that this is possible to set per-request, I'm going to close this until there's actual demand.

[2015-07-02 16:33] #16 closed

[2015-07-02 16:35] andrewvc commented on #15
This actually belongs in the client mixin. https://github.com/logstash-plugins/logstash-mixin-http_client/issues/5

[2015-07-02 16:35] #15 closed

[2015-07-03 11:10] elvarb commented on #12
Here is a rough example
[code]

This filter could also replace the elasticsearch filter since that just does a http api query and having one http filter that can be used in multiple of use cases.

This use case also highlights the need for a target option. So that if you do multiple queries to different elasticsearch health api's you very likely get repeated fieldnames.

This filter does exactly t

[2015-07-03 11:14] elvarb commented on #13
As an input only plugin by adding a tag to the input and use a condition for that tag to mutate all the values. How would you use the mutate filter for this use case?

The json filter has a target option, https://www.elastic.co/guide/en/logstash/current/plugins-filters-json.html

So the solution here would then to skip having http_poller convert the message to a json object and then use the json f

[2015-07-06 14:41] andrewvc commented on #12
@jordansissel @suyograo @colinsurprenant I'm curious if any of you have thoughts on this idea?

My thinking is that this may be biting off more logic than we'd want in a logstash plugin, and perhaps for this instance a custom plugin depending on the [HTTP client mixin](https://github.com/logstash-plugins/logstash-mixin-http_client) might be more appropriate, but I need to chew this over.

[2015-07-06 14:57] elvarb commented on #12
Another example

**Input**
1. Query RabbitMQ queue statistc API

**Filter**
1. If queue is over 10.000 then query the Elasticsearch API to see the cluster and node state.

**Output**
1. Send RabbitMQ metrics to Graphite/InfluxDB
2. If queue is over 10.000 and Elasticsearch is green run exec to restart the Logstash indexing process. Send email that queue was above 10.000 and that the Logstash proce

[2015-07-06 15:04] andrewvc commented on #12
That's a good example! I'm becoming more and more persuaded. The only trouble is I'm not sure if something that complex should be in a config file or in a specialized plugin. Complex configs like that can be hard to test.

@maximede do you have any thoughts here?

[2015-07-06 16:06] maximede commented on #12
Well, I think that the use case is pertinent and that it would be really great to be able to do that kind of stuff.
@andrewvc I think that if we make a http_poller filter, the logstash config file won't be that complicated. My only concern is that the event could contain a lot of fields, with possibly some duplicates. In that case, maybe #13 could become useful.
I don't really see what you mean by

[2015-07-06 16:15] andrewvc commented on #12
@maximede I just was wondering if @elvarb 's example might be best implemented fully as its own ruby plugin. But after speaking with @jsvd I think the filter makes sense, I've been convinced :).

I'm going to focus on releasing the input for now, but I'll create a new filter plugin based on the input. It'll have to be careful with background threads to avoid stalling the pipeline.

[2015-07-06 16:27] jsvd commented on #12
My only concern on filters that call out of the jvm is the fact that filters are evaluated in sequence.
This means that you need to be very aware that introducing a http pooler filter can bog down the pipeline considerably. A pipeline like:

[code]

Will always take 1+1000+1 seconds per event. There's nothing "async" we can do here, as we need the event to go through the filter so it can be handle

[2015-07-06 16:29] andrewvc commented on #12
@jsvd I'm thinking I can implement this filter as fully async using the thread mechanisms present in Manticore. What are your thoughts there? Check out the 'background' functionality in the [Manticore readme](https://github.com/cheald/manticore).

[2015-07-06 16:32] elvarb commented on #12
I agree with @maximede that the number of fields could become an issue, expecialy if query the node health api. In this use case that is not such a big problem since the output would only be very specific fields.

The issue that can come up with so many fields is how Logstash splits Inputs, Filters and Outputs. For example I have a condition in my config that if a certain event comes up then a new

[2015-07-06 16:43] elvarb commented on #12
@jsvd This is kind of like if you have lots of incoming logs with IP addresses and want to do a dns filter on them, except this would be much much slower. So this can be a problem if you use it wrong.

I tend to have multiple Logstash processes running each for a very specific use case and each process has access to a few config files to ease management of them. My use case for a http filter would

[2015-07-08 14:58] andrewvc commented on #13
@elvarb I think that makes a lot of sense re: the target option, I'll try to get that in the initial gem release.

[2015-07-14 15:34] andrewvc commented on #13
I'm realizing that one shortcoming of a `target` option is that codecs inject `@` metadata. It's really not ideal in terms of unnesting the root data to a child key. I think we should have this feature, but I think I may also submit an issue to logstash core.

[2015-07-14 16:11] andrewvc commented on #13
@elvarb I'm going to implement this today, but there is one caveat that will require a Logstash core change in the future: https://github.com/elastic/logstash/issues/3607

[2015-07-16 00:04] #13 closed

[2015-07-21 22:39] andrewvc opened #24 "Plugin should mask http passwords in saved metadata"
HTTP Poller metadata will show passwords. They should be elided by default.

Example of current behavior:

[code]

[2015-07-23 04:52] andrewvc opened #25 "Provide sample log4j config to silence log lines"
This thing is very verbose when it can't connect, provide a sample log4j config to fix that with the docs.

[2015-07-23 13:40] andrewvc opened #26 "Document log silencing"
Manticore logs noisily, document the info from this manticore ticket: https://github.com/cheald/manticore/issues/20

[2015-07-23 16:07] cheald commented on #26
I'd like to improve this if possible, but HTTPComponents takes the Java-style stance that libraries should just log to whatever happens to be listening, rather than being explicitly set up with a logger. If you come up with a good set of defaults that work with the Java logging framework, I'd love to see about integrating them (or at least documenting them better).

[2015-07-23 16:39] andrewvc commented on #26
@cheald I'm with you, I'll try to include a log4j conf in the examples folder here. Will ping you when I have it :)

[2015-08-04 19:09] andrewvc commented on #14
Fixed a while ago

[2015-08-04 19:09] #14 closed

[2015-08-04 19:09] andrewvc commented on #25
duplicate of #26

[2015-08-04 19:09] #25 closed

[2015-08-04 21:50] #5 closed

[2015-08-04 21:50] andrewvc commented on #4
Fixes as part of #17

[2015-08-04 21:50] #4 closed

[2015-08-05 15:09] andrewvc opened #32 "Allow users to disable SSL verification"
We should allow users to disable SSL verification if they wish with https://github.com/cheald/manticore/blob/master/lib/manticore/client.rb#L141

This came up on this discus thread: https://discuss.elastic.co/t/input-http-poller-https-on-the-api-untrusted-cert/25492

[2015-08-05 17:59] andrewvc commented on #32
Moved to https://github.com/logstash-plugins/logstash-mixin-http_client/issues/12

[2015-08-05 17:59] #32 closed

[2015-08-07 23:17] blysik opened #33 "http_poller in a clustered logstash?"
This is getting ahead of things, but I hear that logstash is moving in the direction of clustering logstash nodes.

What does that mean for this plugin?  How will you manage only having a single logstash node do a poll?

[2015-08-09 11:08] KrishnaPG opened #34 "RunAt option"
Thank you much for sharing this plugin. It is very helpful.

One small request. Could you please consider provide some kind of `runat` option (in addition to the `interval` option). For example, we need to run report generation at, say 9pm every night.

At present the `interval` can be set to 86400 (to run once a day) - but it is relative time (that depends on the first run or start of the logstas

[2015-08-11 05:06] KrishnaPG opened #35 "Sequence / Batched-polls"
This plugin is very helpful for querying data from remote services on regular periods.

Occasionally multiple calls need to be made in sequence to get full data. (For example, http://something/sensors?**from**=0&**count**=100 )

Even ElasticSearch query results follow this pattern (which returns results with *from* and *size* offsets). Any many 3rd party / REST based endpoints require making more

[2015-08-12 21:58] andrewvc commented on #33
@blysik It's a great question, but a bit earlier to answer considering there's nothing too concrete yet for clustered logstash. I'm going to close this question for now since we'll be reviewing plugins one by one later for issues related to this once we know more about what clustered logstash will be.

[2015-08-12 21:58] #33 closed

[2015-08-13 17:16] andrewvc commented on #35
Hmmm, this is a tricky one. I need to chew on this and think it over.

[2015-08-13 17:17] andrewvc commented on #34
This is a great idea. I like the interface as well. I'll try and find some time to work on this.

[2015-09-04 17:13] andrewvc commented on #35
@KrishnaPG I think this sounds like an interesting idea. What sort of config syntax would you propose to drive this?

[2015-09-04 17:14] andrewvc commented on #34
@KrishnaPG apologies for not finding the time to work on this. We'd be glad to take a patch (with tests however!) Ideally it would integrate the cron scheduling from https://github.com/logstash-plugins/logstash-input-jdbc

[2015-09-04 17:16] andrewvc commented on #12
@elvarb the more I think about this, the more I think this should be a new plugin, maybe called `logstash-filter-http_request`. It would be based on the common core of [logstash-mixin-http_client](https://github.com/logstash-plugins/logstash-mixin-http_client), which is what the poller is based off of.

@elvarb do you have any interest in attempting an implementation of this?

[2015-09-07 15:24] jsvd commented on #12
@elvarb yep I've done a similar thing with 2-4 steps of logstash processing, all using rabbitmq as a common.. "bus", it's a very valid architecture for working around some limitations of logstash scaling

[2015-09-09 11:01] elvarb commented on #12
@andrewvc I agree it definitely should be a new plugin, the reason I created this issue here is because the difference between a input and a filter should probably be minimal. In my case I will be using the input http poller plugin soon but a filter plugin would be something that is nice to have but something I would not use very often.

What I mostly like about a filter like this is that it would

[2015-09-09 11:26] jsvd commented on #12
@elvarb yep, what I did sometimes to ensure predictable "splitting" was take some data from the event, hash it, and use it as routing key % number of subscribers, this way 2 queue consumers would always get the same kind of data.

[2015-09-11 12:42] jsvd opened #36 "refactor shutdown sequence to use plugin.stop"
Change shutdown sequence to be triggered by plugin.stop instead of ShutdownSignal exception.
Also remove any calls to: shutdown, finished, finished?, running? or terminating?
This depends on https://github.com/elastic/logstash/pull/3895

[2015-09-16 14:57] CraigFoote opened #37 "Needs HTTPS example"
This plugin apparently does https but I'm floundering trying to get it to work. An example config illustrating how use certificates would go a long way.

[2015-09-22 17:42] suyograo commented on #36
Fixed in https://github.com/logstash-plugins/logstash-input-http_poller/pull/38

[2015-09-22 17:42] #36 closed

[2015-11-06 22:20] andrewvc commented on #35
Closing this due to inactivity and complexity of implementation.

[2015-11-06 22:20] #35 closed

[2015-11-16 21:02] andrewvc opened #39 "Broken Requests"
Per this discuss thread requests seem to be intermittently failing https://discuss.elastic.co/t/http-poller-s-weird-behavior-with-polling-urls/28620/11

This seems high priority

[2015-12-15 21:08] andrewvc opened #40 "Stricter validation of per-URL params"
As seen in https://github.com/logstash-plugins/logstash-input-http_poller/issues/39 it is quite easy to accidentally put a top-level config item in a per-URL config. We should make this raise an exception as this is an invalid config.

[2015-12-15 21:09] andrewvc commented on #39
This is no actually a bug. The user was setting keep alive in the wrong place. We should better validate those parameters however. I have opened https://github.com/logstash-plugins/logstash-input-http_poller/issues/40 to address that.

Oddly enough, however no connection retries were attempted. This *is* a bug, likely in manticore. I will open a bug there and update this ticket with its info.

[2015-12-15 21:16] andrewvc commented on #39
Actually, there is no bug in manticore, that option was also set in the incorrect place. #40 should address this.

[2015-12-15 21:16] #39 closed

[2016-01-22 19:39] webtoed opened #43 "Example haproxy.conf doesnt work"
https://github.com/logstash-plugins/logstash-input-http_poller/blob/master/examples/ha_proxy.conf

Looks like a typo - Line 25 - stot,binhttp://localhost:9201/haproxy?stats;csvm,bout,

[2016-01-22 19:42] andrewvc commented on #43
Thanks @webtoed ! Would you be able to submit a patch?

[2016-02-02 16:50] ethompsy opened #44 "Error when parsing headers"
I get this error when running logstash with this plugin to query an API:
[code]

Here is my config:
[code]

When hitting this same URL using cURL I get a valid response, but it seems that http_poller chokes on the Headers option.

[2016-02-05 22:19] ethompsy commented on #44
Ah! I see the problem:
[code]
It would be really cool to see an example using a data payload. I am trying to query an API and it requires some parameters. I have had to dig through all related source code to get an idea of how to do this.

[2016-02-24 01:10] ppf2 opened #46 "Allow externalization of urls configuration"
If there are thousands of servers/endpoints to poll from, the LS config can get unwieldy.   It will be nice if we provide a way to externalize the urls configuration (eg. to a file), similar to how you can have jmeter read in a list of http endpoints, etc..

[2016-02-24 01:28] jordansissel commented on #46
My comment may sound silly, but hear me out - The logstash config is already a file. So moving the URLs to another file feels like it's not solving anything? Can you show me an example, maybe? This is one of those cases where managing the logstash configuration by hand is not ideal - generating it with a script is possible (especially with config management tools, like chef and puppet). Thoughts?

[2016-02-26 22:16] andrewvc commented on #46
I do think there's room to do this as a file, so I'm inclined to accept a PR here. I'd like to work on one, but I'm not sure when I'll have a chance.

The file could juts be one URL per line. The plugin uses a key per URL, but we could just assign numbered keys in this case.

[2016-02-26 22:18] jordansissel commented on #46
Each url can have multiple properties, so can we only represent GET requests w/ no configurability?

Put another way, it'd be easier for me to discuss my confusion with the proposal if it were more concrete - a specification or example, perhaps?

[2016-02-29 22:15] ppf2 opened #47 "Process endpoints in parallel"
Currently, the poller goes through each url/endpoint serially.  If there are many (thousands) of endpoints to go through, it will be nice to have some kind of thread pool implemented so that it can process concurrent endpoints in parallel.

[2016-02-29 22:16] suyograo commented on #47
+1, good idea

[2016-02-29 22:49] ppf2 commented on #46
Thanks for the feedback.  This one will probably end up being part of a distributed job/clustering feature request.  For the large number of endpoints, we can workaround this by using CM tools and having many LS instances running each with a subset of the endpoints.  However, if the user splits the list of urls amount multiple LS indexers, if 1 LS goes down, they will not want to lose say 10-25% o

[2016-03-08 20:42] gmoskovicz opened #48 "Wrong configuration to avoid certificate validation"
Looks like we are using `manticore` version `0.5.x`.

According to https://github.com/cheald/manticore/blob/v0.5.2/lib/manticore/client.rb#L148 ` ssl[:verify]` option should be used to remove verification. Currently in the documentation we mention that there is `ssl_certificate_validation` configuration, which looks like it has bee removed.

[2016-03-08 20:49] gmoskovicz commented on #48
@andrewvc can you please confirm if `ssl_certificate_validation` still works?

[2016-03-22 13:21] elvarb commented on #12
I kinda cheated in my last usecase and just used the ruby filter to query a local ngnix instance.

The nginx instance was configured to be a reverse proxy for the actual api with very heavy caching so that only the first unique query hit the api and the rest hit the proxy.

[code]

[2016-03-22 13:23] elvarb commented on #34
Have my vote on this feature, yet again would open up for more use cases

[2016-03-22 13:30] elvarb commented on #48
I'm running into an issue with using a self signed cert, but I'm not sure if that is the problem or not because simply nothing is coming through from hosts with self signed certs, nothing to debug. Does ssl_certificate_validation => false work?

[2016-04-04 21:17] sameerpanicker opened #49 "Certificate Issue during HTTPS call"
I am currently receiving this error on invoking my HTTPS service.
Error -
"pkIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target"

Looking on the articles, I have managed to add my cert into Java Keystore. I am able to view my cert using the KeyTool List command.

What should be my next step for the HTTP_P

[2016-04-07 17:00] sameerpanicker commented on #49
Any Update on this ?

[2016-04-07 21:44] andrewvc commented on #48
This will be fixed in https://github.com/logstash-plugins/logstash-mixin-http_client/pull/20

[2016-04-14 17:09] PhaedrusTheGreek opened #51 "Notion of State / Variable Expansion in Config"
As explained in [Event Dependent Configuration](https://www.elastic.co/guide/en/logstash/current/event-dependent-configuration.html)

Which is fair, but some plugins such as the http_poller run on intervals, and could theoretically access some state.

The end goal would be to say something like this:

With use of some globally maintained variable (not even sure the best way to do this)
[code]

Or

[2016-04-15 12:07] yangdailin opened #52 "can we repeat send get data request only once？"
because my log can visit by httpRequest ,once my log file create ,it never update,so i want only send one request to read the log,but the config 'inverval' field is necessary.

[2016-04-25 15:41] #48 closed

[2016-05-18 22:00] sebastianslutzky opened #54 "Error when http polling an endpoint that returns 204"
I am using logstash's http_poller input to monitor several services. Each of them exposes an endpoint to this end.

One of them returns status code 204 (no content) and this results in an internal error of the http_poller plugin.

The rest of the endpoint return status code 200 and "All Is OK" raw text. They work fine.

The error is:

`    /opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-core-2

[2016-05-18 22:01] sebastianslutzky commented on #54
I expect no exception, ("http_request_failure" should be missing, tag _http_request_failure should not be present)"message" should be empty and http_poller_metadata.code should be 204

[2016-07-05 14:08] maximgue opened #55 "connect_timeout / request_timeout ignored"
It seems like the [**http_poller input plugin**](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-http_poller.html#plugins-inputs-http_poller-connect_timeout) ignores the **connect_timeout** and **request_timeout** settings.

Here is my http_poller conf:

    input {
      http_poller {
        urls => {
          metric_healthcheck => "https://www.example.com/healthcheck.php"

[2016-07-05 15:07] maximgue commented on #55
After checking the source code of the underlying component **logstash-mixin-http_client**, I've found the following _undocumented_ configuration setting: `socket_timeout`

So I set it in the **http_poller** configuration file (`socket_timeout => 30`), and forced the target test page to simulate a timeout (using PHP function `sleep(60);`), and it worked as expected!

So maybe the[ http_poller docum

[2016-07-14 08:11] hummingV commented on #34
@andrewvc, our team is also interested in this feature. I have pushed my implementation (with tests) in my repo.
https://github.com/hummingV/logstash-input-http_poller/tree/rufus-scheduler

Can you take a look at that? I'll create a pull request if you want to take in the change.

[2016-07-19 19:56] abdalians commented on #24
+1

[2016-07-23 23:18] hummingV commented on #34
@andrewvc
Good day. Our team at Adnovum is interested to have this feature and I was assigned to work on this patch. I have completed the work. It has been tested in my env and it works fine. I am just short of signing CLA (needs approval) before submitting a PR. In meantime, I am wondering whether the patch has any issue since I have not received any comment? Would you be able to comment on any c

[2016-07-24 03:44] suyograo commented on #34
@hummingV thanks for your contribution! I have one comment from your branch: Remove of `interval` will become a breaking change. We will not be able to just remove this without warning users. Can you deprecate this using `deprecate`, and then encourage users to use `schedule`? We can remove it in the next version.

[2016-07-24 07:26] hummingV commented on #34
@suyograo, thanks for your input! I will restore the `interval` option as `deprecated`.
But for simplicity and ease of maintenance, I suggest to restore only the API interface, not the underlying mechanism. i.e.
`interval => 15`
is exactly equivalent to
`schedule => { "every" => "15s" } `
i.e. it will invoke Rufus::Scheduler.every method instead of Stud.interval method.

What do you think?

[2016-07-28 00:37] hummingV opened #59 "trigger_time expansion in config"
This request is similar to #51 but much narrower in scope, namely to expand a special trigger_time variable. Judging from the example given in #51, it seems the poster, @PhaedrusTheGreek, is also interested to expand trigger time in the url. I speculate that trigger_time would be one of the most useful variables to expand.

Trigger time should be a long number representing milliseconds since epoch

[2016-08-19 22:16] webmstr commented on #51
Yup.   Back to external scripts, I guess.

[2016-08-19 22:24] jordansissel commented on #51
I propose the following -- using the time formatting syntax we already support with events, we could make a special handler within this plugin that allows you to say `%{+<time format>}` to include that time format in your URL.

Example for "now" that maybe uses unix epoch (`%s` in time format)

`url => "http://my-server.com/stats?time=%{+%s}"`

Or with today's date only:

`url => "http://my-server

[2016-08-19 22:25] jordansissel commented on #51
@PhaedrusTheGreek @hummingV Thoughts on my proposal above? I worry it may confuse users since it uses the same syntax as event formatting, but at least it's possibly a familiar format?

I'm open to other proposals.

[2016-08-20 00:54] PhaedrusTheGreek commented on #51
@jordansissel is there any way to have global variables that could be set by a ruby filter?  I know, I'm a dreamer - but, addressing only the time issue in a single plugin might result in unwanted technical debt.

[2016-08-21 19:40] hummingV commented on #51
@PhaedrusTheGreek , @jordansissel
Having a ruby filter to set variables is a utopia but I think that will result in a major redesign.

If the ruby filter was to stay upstream, then there is no events yet to process since input plugins are the ones responsible to create events and push it down the queue. If the ruby filter was to stay downstream, then it can set global variables for the next cycle

[2016-08-22 16:08] PhaedrusTheGreek commented on #51
@hummingV I see your point - trying to control input state by filters makes no sense.

+1 for some standard support beyond date.   Has inline scripting already been ruled out?

[2016-08-22 16:26] hummingV commented on #51
I am open to the idea of pre and post-event hooks. That is most flexible solution imo. Having them only for this plugin might be a bit awkward though. Not sure if logstash team would want an implementation at base class level.

[2016-08-22 17:52] jordansissel commented on #51
For inputs, post-event things can be done in filters.

As for "pre-event" hooks, I don't think that solves this problem. The issue described in this ticket is for doing some computation to generate the URL used in the http request before each poll -- this is not necessarily "before the event" but is more "immediately before the next http request". It is possible that the http_poller could produce

[2016-08-22 17:55] PhaedrusTheGreek commented on #51
Formattable %{now} does solve this particular problem for me.

[2016-08-22 18:09] webmstr commented on #51
For my first use of this input, I need offsets, so now-5min, etc.

[2016-08-22 18:11] jordansissel commented on #51
let's try this another way, instead of describing the solution ("I need current time" or "I need now-5min") can y'all tell a story about what you want to do? Maybe we can find a solution from the information in these stories.

[2016-08-22 19:19] hummingV commented on #51
My story:
I am using http-poller to send queries to an Elasticsearch index (say: `source`). In `source`, I have individual timestamped http requests. At the end of each day, I query aggregated statistics from `source` and stash it to another ElasticSearch index (say: `dest`). `dest` is an input to our monitoring tool.
I need scheduledTime variable expansion to specify date range in the query to th

[2016-08-22 19:26] PhaedrusTheGreek commented on #51
Looking at my requirement again, I actually do need to be able to do date math as well.

Use case is Fetching jobstats from Yarn.

[code]

[2016-08-22 19:34] hummingV commented on #51
I should also mention that I have similar use cases for other types of  `source`'s such as SQL (jdbc plugin) and syslog.

[2016-11-02 16:33] sjivan opened #61 "support for http "post"-ing input file"
I'd like to setup an http input poller that runs the equivalent of

curl -F file=@C:/sample/data.xml 'http://localhost:8080?param1=foo'

This is the format that our servers accept for responding to health checks.

I see there's an option to use method => post with http input poller but I don't see an option to set a file payload.

Using LS 5.0

Thanks,
Sanjiv

[2016-11-11 18:46] nothau commented on #51
+1 for this too

[2016-11-11 18:54] jordansissel commented on #51
The request sounds fairly complex, so let me try and restate what I am hearing. Tell me if this isn't right:

* A way to specify that part of a given setting should come from a dynamic value (time, etc)
* A way to do computation (do math on time)
* A way to format these dynamic, computed values (time formatting)
* Be able to do this on different inputs (or outputs, or filters?)

If this is accurat

[2016-11-17 22:32] OzWookiee opened #62 "Update documentation for Schedule option"
The documentation still shows that interval is a required field when it has been deprecated and looks to be replaced by schedule

[code]

Because of this users will get these kinds of errors:
`[2016-11-18T08:51:12,418][WARN ][logstash.inputs.http_poller] You are using a deprecated config setting "interval" set in http_poller. Deprecated settings will continue to work, but are scheduled for removal

[2016-11-18 18:20] CraigFoote commented on #51
+1

[2016-11-18 21:28] crccheck commented on #34
Is this released? I noticed this message "You are using a deprecated config setting \"interval\" set in http_poller." This is the only reference I can find related to that. The docs for all versions https://www.elastic.co/guide/en/logstash/master/plugins-inputs-http_poller.html still say to use "interval".

[2016-11-20 05:57] hummingV commented on #34
It looks like documentation is not updated yet:
https://github.com/logstash-plugins/logstash-input-http_poller/issues/62

You can see the usage at this file for now:
https://github.com/logstash-plugins/logstash-input-http_poller/blob/master/lib/logstash/inputs/http_poller.rb

[2016-11-20 15:50] jordansissel commented on #34
Yeah sorry about the docs. There's a bug in our docs builder causing us to
not publish easily. We are working on it.

On Sat, Nov 19, 2016 at 9:57 PM Kyi <notifications@github.com> wrote:

[2016-12-01 18:36] Gmanweb commented on #44
how can I add multiple headers like
[code]

This doesn't seen to work

[2016-12-02 16:34] z-vr commented on #51
This would be an amazing feature. We get some `max_id` in the response from a web-server, it'd be super good to store it in a file, so that the next request can use it, in analogy with https://www.elastic.co/guide/en/logstash/current/plugins-inputs-jdbc.html#_predefined_parameters

[2016-12-06 02:37] xiajidexue opened #64 "how to get rtt(response time) with http_poller plugin"
i just noticed runtime seconds, dose it means a response time for a request?

[2016-12-08 19:45] emilesalem opened #65 "environment variable is not parsed"
https://discuss.elastic.co/t/bug-in-http-poller-environment-variables-dont-always-evaluate-with-http-poller/53070/2

this env substitution doesn't work:

input {
   http_poller {
        urls => {
            test2 => {
              method => get
              url => "http://${ADDRESS}:8080/Fred.txt"
            }
        }
   }
}

[2016-12-08 20:44] #65 closed

[2017-01-09 11:39] jsvd opened #66 "an empty body will result in the response being ignore (creating no event)"
you can use the following config to verify:

[code]

the `test_503_no_body` will not generate an event. this is because: the response is ignore if it contains no body. This is because [this block of code](https://github.com/logstash-plugins/logstash-input-http_poller/blob/master/lib/logstash/inputs/http_poller.rb#L243-L246):

[code]

In response codes 200, 404, 503, etc, the `handle_success` is ca

[2017-01-09 14:20] radoondas commented on #66
Thanks @jsvd!
Do we keep this issue open?

[2017-01-09 14:38] jsvd commented on #66
if the customer requires this to be solved then I suggest keeping it open

[2017-01-15 17:24] atlwill commented on #44
gmanweb if you have multiple values in the headers, you have to wrap the header name in quotes like ethompsy did with his single entry. This is what I had to do to get mine to work with multiple headers in ELk 5.1.

[2017-01-24 12:32] Gmanweb commented on #44
yes that worked.  example for others..
[code]

[2017-04-05 21:30] jordansissel commented on #51
Copying my response from https://discuss.elastic.co/t/response-headers-http-poller/80739/3 here:

Having the http_poller input be aware of how to paginate is something we've discussed internally. I personally feel it's not something we can achieve because of the ways that things present pagination, such as:

    Fetch the main page, get a token that you can query repeatedly in the future to get th

[2017-05-29 15:34] ph opened #70 "JRuby 9K failling job"
https://travis-ci.org/logstash-plugins/logstash-input-http_poller/jobs/236450723

[code]

[2017-06-05 20:28] ph commented on #70
closed by #72

[2017-06-05 20:28] #70 closed

[2017-06-28 10:39] jsvd opened #73 "documentation about the ssl_certificate_validation doesn't mention deprecation"
looking at the latest docs about [`ssl_certificate_verification`](https://www.elastic.co/guide/en/logstash/master/plugins-inputs-http_poller.html#plugins-inputs-http_poller-ssl_certificate_validation) the feature is described without mention of being deprecated [even though it is](https://github.com/logstash-plugins/logstash-mixin-http_client/blob/v5.2.1/lib/logstash/plugin_mixins/http_client.rb#L

[2017-07-08 04:08] acchen97 commented on #12
Closing with the [JDBC Streaming filter](https://www.elastic.co/guide/en/logstash/current/plugins-filters-jdbc_streaming.html) now released.

[2017-07-08 04:08] #12 closed

[2017-07-18 13:57] boernd opened #74 "Event does not get decorated in case of a request failure"
Logstash version 5.4.2

Example config where e.g. the added field `mycustomfield` gets lost:

[code]

Output:
[code]

[2017-08-04 15:46] jsvd opened #77 "http-poller plugin add_field doesn't work #6773"
migrated from https://github.com/elastic/logstash/issues/6773

----------------

When using 'add_field' in the http_poller input plugin of a Logstash configuration, the field is lost when the plugin returns an error on the test URL.

See example input block below.  The Links LINK_1 and LINK_3 for example may return a success (http 200) and the added field 'environment' will be part of the resultin

[2017-08-07 10:02] kingmorning opened #78 "[add_field,tags,type=>"" ] doesn't work when connection is time out or Connection refused."
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version: 5.5.1
- Operating System: centos 7
- Config File :
input {
  http_p

[2017-08-30 15:49] ph opened #81 "URL with password are show in the log and STDOUT"
When the input start in the registering method we bleed the password in the log file.

I believe on exception we could also bleed the password since we just dump the content of the `request` object to the logger.

[code]

I think the easiest fix is to remove the URLs at the `logger.info` level and also remove the **request** and the **response** unless we are in debug mode.

[2017-09-14 15:14] london2016 commented on #64
have you tried Elastic Heartbeat? It is such timings to the microsecond

[2017-10-27 13:06] Jc2k opened #87 "Manticore eager setting cannot be changed and does not work in all cases"
In `normalize_request` when building `spec[:auth]` the setting `eager` is set to `true`. It cannot be changed from logstash configuration. In my case a third party server i don't control is configured to only do digest auth and we send basic auth instead, which breaks on the servers side. If i hand patch `eager: true` to `eager: false` it works.

`manticore` itself advocates for it to be `false` i

[2017-10-27 14:57] PhaedrusTheGreek commented on #40
+1 hit this

[2017-10-27 15:19] andrewvc commented on #87
Yes! We would gladly accept it.

I'm on the fence about defaulting it one way or the other.

For common Logstash use cases turning it off would double the number of requests.

[2017-10-27 15:31] Jc2k commented on #87
I was hoping to get away with literally just setting `eager` to `false` but it sounds like it needs to be made a setting. I'm new to logstash dev (and jruby and ruby) but it looks like i'd need to add something like:

[code]

And then i'd be able to access that from the `spec` object? Maybe something like:

[code]

?

And it looks like the `config` bit would have to go into `logstash-mixin-http_cl

[2017-10-27 18:21] andrewvc commented on #87
Yes, you'd need to add it to the mixin.

You can actually just open an issue there, link to it here, and close this issue.

[2017-10-27 18:21] andrewvc commented on #87
You're right, by the way, about the config stuff.

[2017-11-06 15:39] jpcarey opened #88 "json array not handled properly"
If the http endpoint returns an array of objects, the poller just uses the last object from the array it seems.

[code]
[code]

[code]

[2017-11-06 15:55] jpcarey opened #89 "allow comments inside `urls` items"
This plugin does not allow for commenting out settings inside the url / request object, which does not align with the behavior of any other plugin that I know of.

[code]

`[2017-11-06T08:54:46,388][ERROR][logstash.agent           ] Cannot create pipeline {:reason=>"Expected one of #, {, } at line 15, column 9 (byte 328) after input {\n  # 1x a day node lookup\n  # every 10 minutes _cat indices\n

[2017-11-06 16:01] jpcarey commented on #88
workaround is to force `codec => "plain"` on the `http_poller` input, and use `json` filter to decode (not ideal or obvious).

[2017-11-30 10:40] S1rH1ll opened #90 "undefined method `get' for #<Hash:0x46a23c28>\nDid you mean? gem"
Hi,

I am unable to start logstash once I configured the http_poller, I tested the plugin on Windows and Debian Jessie.

- Version:  4.0.3 and 4.0.4
- Operating System: Debian Jessie ans Windows 2012
- Config File (if you have sensitive info, please remove it):

logs :

[2017-11-30T10:22:56,915][ERROR][logstash.agent           ] Failed to execute action {:action=>LogStash::PipelineAction::Create/p

[2017-12-05 22:09] alext234 commented on #90
Having the same error.

[2017-12-05 22:19] robbavey commented on #90
@S1rH1ll @alext234 Thank you for reporting the issue - this is a [known issue](https://github.com/elastic/logstash/issues/8701) in Logstash 6.0.0. The fix will be in the next 6.0.1 and 6.1.0 releases of Logstash, which will be released shortly.

[2017-12-05 22:19] #90 closed

[2017-12-11 09:59] rkhapre opened #91 "Does input-http_poller has OAUTH 2.0 support?"
I have a API which works on OAuth 2.0
A OAuth 2.0 API requires Authorization as header which holds bearer token
This is generated using Refresh Token, ClientID, Client Secret given values.( this are fixed values)

Currently this Authorization Header expired every 5 minutes, i have to go and generate it manually.I generate this through curl command . So i am not able to keep pipeline alive for a lo

[2017-12-11 22:46] yaauie commented on #91
Oy -- a 5-minute TTL on a `Bearer` token has got to be super painful to work with :weary:

No, this plugin does not provide the facility for dynamically altering the request (and to add it would be non-trivial); the same request is fired off each time that the scheduler triggers the poll.

In the past, I've personally used tools like [Kong](https://getkong.org/about/) as an API-gateway to modify r

[2017-12-17 10:26] rkhapre commented on #91
okay. This will be very laborious then.
currently i am going with following automation

1. use client library like PHP to generate the token
2. As soon as #1 is done, generate the conf file dynamically
3. then run the pipeline, once done discard the conf files
4. Repeat step 1 to 3 in loop

This way i will get new token every time with conf file and pipeline will run.

Thanks for giving your ideas

[2017-12-17 10:26] #91 closed

[2018-01-23 18:55] aidofitz opened #92 "Will not work if I specify codec?"
Hi,

I'm hitting a plain HTML page with the http poller. If I don't specify any codec (or explicitly specify JSON), the request completes fine, but seems to default to JSON as the codec (and not "plain" as the docs imply for default!) and then throws a parse error as of course the response is not JSON. However, if I try to specific the codec as either "plain" or "line", the request just doesn't co

[2018-01-24 10:11] #92 closed

[2018-01-24 10:12] aidofitz commented on #92
Sorry - my mistake, was actually a problem with my output (stdout being redirected to /dev/null)

[2018-02-07 09:07] txiaoyi commented on #51
Similar use case like url

url => "${URL}&creationdate=~gt~$(date --date='3 month ago' +%Y-%m-%d)"
Can runtime calculate env

[2018-03-08 02:26] seanziee commented on #91
@rkhapre Hi I'm working on the same thing. I want to pull in GA data with the http_poller but I also have an OAuth2.0 to get through. Any advice or anything you can tell me to make this implementation easier? Thanks for your post because it's nice to know someone ran into the same thing as me!

[2018-03-22 01:48] Sjaak01 opened #96 ""Host name does not match the certificate subject provided by the peer""
Hi,

I'm getting the following error when I try to poll a website running a self signed certificate.

`"Host name '192.168.1.35' does not match the certificate subject provided by the peer"` The CN of the certificate is something like `CN=*.device.maker.com`.

It looks like logstash is doing strict domain checking? I'm very unfamiliar with certificates so I'm not entirely sure what is going.

- If

[2018-03-27 11:42] ninjadude333 commented on #96
i'm having the same issue when running on linux ubuntu and windows.

[2018-03-27 11:44] ninjadude333 commented on #49
same problem here !

[2018-06-14 01:16] daqqad commented on #51
+1 for this. My use case is pulling logs via API calls that require an end and start timestamps.

[2018-07-17 21:14] jaijhala opened #99 "Document "headers" as part of the config options"
Currently this is what we have as a list of Config options for this plugin - https://www.elastic.co/guide/en/logstash/current/plugins-inputs-http_poller.html#plugins-inputs-http_poller-options

But I don't see any description for `headers` field. Looking at issue (https://github.com/logstash-plugins/logstash-input-http_poller/issues/44) there seems to be a confusion on how this looks like.

So it

[2018-07-17 22:33] yaauie commented on #99
I don't have time at the moment to make this top priority, but I'll add notes here based on what I know to be true so that someone else can do it if they get to it before me:

`headers` falls under `urls`, which only really documents the simple string-value option:

Separately, there's a note:

That's right, we blindly pass through anything we parse to Manticore, and hope it can deal with it corre

[2018-07-27 15:14] maksymsereda opened #100 "Send cookie to GET method from POST"
Trying to make a POST method to login but smth is going wrong. To make a login I have to fill "login" and "password" poles which is in JSON like this

[code]
and URL like this `http://localhost:8080/api/session/login`
My logstash.conf is

[code]
Using CentOS 7, ELK Stack 6.3

[2018-07-30 22:37] yaauie commented on #100
The HTTP Poller input doesn't support making a chain of requests that rely on each other, which doesn't make it particularly well-suited for cookie-based authentication described above.

Does the API you're connecting to support *key*-based authentication, or HTTP Basic Auth? If so, it would be much simpler to implement since a single request could authenticate the user _and_ retrieve the data.

*

[2018-07-31 06:51] maksymsereda commented on #100
Thank you for answer. Unfortunatelly I don't know about this:

I tried a code that you showed but it is not working: nothing showing in logstash. I am trying to do it with a python script. For now I have a such logstash.conf

[code]
and python script is:

[code]
If you have any idea or a tip I will listen attentively. Thanks

[2018-08-01 20:43] yaauie commented on #100
What do the Logstash logs have to say? Do you have debug logging enabled (e.g., `--log.level debug` command-line flag)?

Debugging your python script is well out of scope of an issue on the HTTP Poller Input Plugin, and would be better suited as a topic in the [Logstash Forums](https://discuss.elastic.co/c/logstash).

[2018-09-12 14:25] micoq opened #101 "Support long/infinite polling (streamed / chunked content)"
Some REST APIs provides streamed content: the HTTP client connects once and stay connected and the server pushes content to the client as it becomes available chunk per chunk.

Here is an example with Icinga: https://www.icinga.com/docs/icinga2/latest/doc/12-icinga2-api/#event-streams
This API will send the monitoring events as they occur.

Currently, the `http_poller` plugin will wait for the who

[2018-11-08 02:55] milesgillham commented on #96
You can turn off ssl verification (if you're confident there won't be a man-in-the-middle attack) by turning off ssl certificate verification (last two lines):

[code]

[2018-12-13 19:13] chrisribe commented on #51
If the poller could just work like the JDBC input plugin and have the concept of state.
https://www.elastic.co/guide/en/logstash/6.5/plugins-inputs-jdbc.html
sql_last_value has a mechanism for dealing with date start and last date in result.
https://www.elastic.co/guide/en/logstash/6.5/plugins-inputs-jdbc.html#_predefined_parameters

This would allow much easier indexing of large datasets via diff

[2018-12-13 22:56] daqqad commented on #51
That wouldn't work as well because APIs might use all kinds of different ways to track state while SQL only uses standard date format or integer IDs, but it would be considerably better than nothing.

[2018-12-21 10:31] sikishen commented on #96
"ssl_certificate_verification" deprecated.

[2018-12-21 15:18] sikishen commented on #49
same problem here ! +1

[2018-12-28 15:35] isbalashov opened #103 "Request body is being escaped forming invalid json"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version:
- Operating System: CentOS 7
- Config File (if you have sensitive i

[2019-01-15 09:03] darefilz opened #105 "Terminate after triggered once ("in" and "at" jobs)"
Apart from the name Http_*poller*, I think it would be more intuitive to stop the plugin after it has been scheduled by an in job or an at job respectively.
For instance if one configures the plugin to run in 1 minute from now (`schedule => { "in" => "1m" }` the plugin should stop after the request instead of doing nothing forever.
What do you think?

[2019-02-05 16:38] sebastienbonami commented on #100
Hi, I'm in the exact same situation than @maksymsereda. I have to make a POST (like to /login) on a web app for getting a cookie and I want to keep this cookie for as long as it's valid and use it for GET requests (like to /health). As soon as there's a 401 error (so the cookie is not valid anymore), I want to to get a new cookie and use it from now on...

@yaauie Does the plugin now support makin

[2019-02-18 12:33] Davidffry commented on #49
same pb, thanks

[2019-02-26 14:38] romlod opened #108 "CurrentDate %{+yyyy-MM-dd} not supported in input"
When performing a SOAP call, it looks like %{+yyyy-MM-dd} for getting the currentDate in the body doesn't seem to work. I don't know whether this is expected behaviour or some sort of bug. Example below:

[code]

[2019-04-02 11:45] isbalashov commented on #103
Any progress so far?

[2019-05-06 08:22] Benny-Git commented on #77
I just wanted to open a similar Issue and found this existing one.
I hit this issue with Logstash 6.6 this weekend, when our Healthcheck failed with a timeout, and then didn't include the metadata I needed.
I will try to include the add_field in a mutate filter as a workaround for now.

[2019-05-16 10:51] Skypex opened #110 "OAuth2 APIs"
Hello,

I currently want to fetch data from Windows Defender APT using a REST API provided by Microsoft.
Here is how the API works: [Pull Microsoft Defender ATP alerts using SIEM REST API](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/pull-alerts-using-rest-api)

However, this API uses OAuth2 for authentication/authorization and this means need to fetch

[2019-05-22 20:25] novaksam commented on #51
I wrote my own ruby script for this situation (in my case pulling DUO events), but if we could get support in http_poller input, that would make polling time-based APIs a lot simpler. It might just be a matter of adding in a parameter for 'seconds since' or some such thing (I used a hard-coded 900 second buffer in my script).

[code]

[2019-05-23 20:25] novaksam commented on #51
Wonder if they'll let this through: https://github.com/logstash-plugins/logstash-input-http_poller/pull/111

[2019-06-03 19:03] hiven commented on #108
This is driving us mad. Would love this to be fixed as it makes the product next to useless, we use the current date as part of our body to pull the current logs.

[2019-06-04 07:53] hiven commented on #51
Really would like this

[2019-06-04 08:41] guyboertje commented on #108
`%{+YYYY-MM-dd}` is an interpolation of a date and/or time - but the important part is to know which date is used. As this interpolation is used (and was designed) for creating a text with the date/time taken from the current event (so that, for example, events can be steered to different dated indexes) it uses the `@timestamp` field of the current event.
Because inputs **generate** events there i

[2019-06-20 18:33] koursoh commented on #100
@yaauie, your code doesn't specify how to handle authentication tokens requetsted in a curl command.

Coud you please confirm if my approach to adding the token is right?

logstash.conf:

[code]

The actual API call that I want to execute is this:

[code]

[2019-09-04 06:51] ash74268 opened #113 "list of urls or hostnames to support failover"
Hi Team,
I would like to understand if there is any way to configure http poller input plugin to support failover. I have a 3 different hostnames for API server where I need to poll. (They dont have a global url yet). How can I configure the http poller input plugin urls section to specify a list of urls or hostnames?

Logstash Version: 7.1.1

Any input would be really helpful.

Thanks

[2019-10-24 22:17] peasead commented on #96
I had this same issue. To work around this I made an entry in my hostfile and recreated the truststore files.

So in `/etc/hosts`, you could add `192.168.1.35 kvh` and then re-run:
[code]
and finally update your Logstash config to `kvh => "https://kvh/web.cgi?gn=1"` from `kvh => "https://192.168.1.35/web.cgi?gn=1`

This worked for me.

[2019-11-05 15:28] veruyandi commented on #51
In my similar case, I have to extract Dynatrace dashboard data. I'm using Dynatrace AppMon Server REST interface to generate XML reports per minute.

I'm able to parse the response using Xml filter plugin and format it with a custom Ruby script according to my need, however I also need a solution inside Logstash to get the source data periodically with an http request and I don't want to depend on

[2019-11-27 15:30] piellick commented on #73
God .. continuing problem  years later. No updates ?

[2019-11-27 15:35] piellick commented on #96
Hi everyone, still no news about bypassing ssl verification for self signed certificate ? This option looks critically needed.

[2019-12-05 12:10] sgreszcz opened #114 "Http_poller error when building XML/SOAP request"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version: 7.5.0
- Operating System: Ubuntu 18.04 (Docker version of Logstash)

[2019-12-09 12:29] sgreszcz commented on #114
OK, this was a syntax/config error as it wasn't obvious (to me) that you had to nest multiple URLs under "urls" like this:

[code]

As per Badger here: https://discuss.elastic.co/t/http-poller-error-when-building-xml-soap-request/210698

[2019-12-09 12:29] #114 closed

[2019-12-09 12:37] sgreszcz opened #115 "Accept TLS/SSL certificates without having to manually create a JKS?"
There is no simple way to accept TLS/SSL certificates using http_poller input.  Using something like python's "requests" library or postman allows a flag to be set to automatically accept certificates.

Having to manually pre-build a JKS is not easy to automate and scale, especially in a Logstash/Docker deployment for ingesting data.

- Version: 7.5.0
- Operating System: Ubuntu 18.04 (Logstash in

[2019-12-09 12:41] sgreszcz commented on #96
I just opened another issue on this: https://github.com/logstash-plugins/logstash-input-http_poller/issues/115

This is critically needed.  Other tools like python's requests and postman allow this flag to accept self-signed certificates.

Running Logstash (especially as a Docker ingest appliance) against HTTPs endpoints and having to manually manage a JKS is not easy to automate, nor scale.

[2019-12-09 13:15] sgreszcz commented on #96
Could we please reinstate these flags on http_poller?

ssl => true
ssl_certificate_verification => false

[2019-12-09 13:16] sgreszcz commented on #115
According to issue #96 this was possible before.  Can we please reinstate the "ignore" flag with:

ssl => true
ssl_certificate_verification => false

[2019-12-09 13:18] sgreszcz commented on #73
Can this be reinstated please?

ssl => true
ssl_certificate_verification => false

#96 and #115 are related

[2019-12-09 13:19] sgreszcz commented on #73
[code]

[2020-01-02 16:17] mjpowersjr commented on #78
I believe this issue and #77 are likely describing the same issue. I've noticed this problem in Logstash 7.5.x as well. I have a 'type' field configured for the http_poller plugin, which added to events properly upon successful HTTP request, but is not being set upon timeout.

[2020-02-17 21:06] sanderdekoning opened #116 "Can I download from FTP(S)?"
In my Azure App Service I can access its log file through FTP(S). I would like to poll this file and ingest its contents into Elasticsearch.

Can I use http_poller to download the contents from the log file through FTP(S)? If so, will http_poller create duplicate entries every time it polls the file, since the file only gets appended to?

[2020-02-26 18:43] yaauie opened #117 "Implement ECS-Compatibility Mode"
_This is a stub issue, and needs to be fleshed out with details specific to
this plugin._

***

As a part of the effort to make plugins able to run in an ECS-Compatible manner
by default in an upcoming release of Logstash, this plugin needs to either
implement an ECS-Compatibility mode or certify that it does not implicitly use
fields that conflict with ECS.

[2020-04-15 14:50] dansfelix opened #120 "Need dynamic url parameters"
Hello all,

In a recent enterprise development, I needed to input data from a legacy Lotus Notes system to ELS. The Lotus Notes team created a REST webservice to read all legacy data form system, but they had to create data parameters in url to avoid timeout problems. The legacy system exists since 2001 em PRD enviroment, has large number of legacy data.

I tried to use Logstash with Http Poller P

[2020-04-16 20:04] AnkurThakur commented on #51
For my use-case, I was looking for this. But unfortunately, it doesn't support it. So, I created a dirty workaround for this.

For anyone, who would like to go with any alternate: https://stackoverflow.com/a/61259006/3565756

Not relevant to HTTP Poller, but a bit relevant to Polling.

[2020-04-17 12:57] tomryanx commented on #120
If you really want to do this in logstash, consider using the http filter plugin instead. You can these use other input / filter plugins to dynamically build the URL.

[2020-05-29 08:36] andsel opened #122 "Possible thread leak due to Rufus if not properly closed"
This plugin like JDBC input, instantiate Rufus in the `run` method so potentially it can suffer of the same problem as describe https://github.com/logstash-plugins/logstash-integration-jdbc/issues/21.

[2020-06-23 15:32] n0othing opened #123 "Unquoted number for url name causes Logstash to crash"
Version: `7.8.0`

Specifying an unquoted number as a URL name causes Logstash to crash. The following config:

[code]

Causes Logstash to throw the following error:

[code]

This doesn't happen if the number is quoted (e.g `"1"`). Unquoted strings (e.g `myurl`) seem to work fine too.

[2020-07-07 20:56] mohammmadahmed opened #124 "POST url is responding with the 500 error"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version:
- Operating System:
- Config File (if you have sensitive info, plea

[2020-07-07 21:04] mohammmadahmed commented on #124
I have a config file with the input URL, get URL is working fine but POST URL is responding with the 500 error.
This post method containing basic credential and input body with the JSON data.

input {
  http_poller {
    urls => {
      profile => {
        method => get
        user => "username"
        password => "password"
        url => "http://localhost/activiti-app/api/enterprise/profile"

[2020-07-08 18:44] dan-drl commented on #110
I also would be interested in seeing some kind of oauth2 support. I have similar use case and would like to pull data out of Microsoft Graph REST APIs.

As more and more REST APIs move towards OAuth2, support for this standard in the http_poller plugin seems very important. IMAP is being deprecated for Microsoft's exchange web server (which relies on basic auth in this case), and users are going t

[2020-11-10 08:15] ankitdevnalkar commented on #90
I am still facing this issue in `logstash 7.9.2`.
plugin version : `logstash-input-http_poller (5.0.2)`

error message :
`[FATAL] 2020-11-10 07:40:09.980 [LogStash::Runner] runner - The given configuration is invalid. Reason: undefined method get for #<Java::OrgLogstashConfigIrImperative::PluginStatement:0x593fcbe7>`

conf file :
[code]

[2021-04-12 13:26] vytsci commented on #51
Not having this leaves us with developing bridge scripts that forwards logs into logstash. We are very frustrated, because we had many push based logs and a few that required polling. We developed push based because it was easier and have not considered that polling wont have state awareness at all. Now we end up creating a hack instead of choosing Apache Nifi or similar tool. Actually without thi

[2021-04-20 05:59] ajrpayne opened #125 "schedule every behavior"
**Logstash information**:

bin/logstash --version
Using bundled JDK
logstash 7.12.0

Logstash expanded from tar
Ran via command line

5.11.14-1-MANJARO #1 SMP PREEMPT x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

    schedule => {
        every => "60"
    }

My understanding is that every will execute on start and then every 60 seconds after. Current

[2021-04-30 11:33] gaganaroraitm commented on #113
Any idea how this can be done?

[2021-05-28 09:59] xiong-wei-me opened #127 "how to get img/png or base64 from http url?"

[2021-06-05 11:56] MaverickNyk opened #128 "Not able to pass Current Date in http_poller request url"
**Logstash information**:

Please include the following information:

1. Logstash version logstash:7.12.1
2. Logstash installation source : docker.elastic.co/logstash/logstash:7.12.1
3. How is Logstash being run : docker
4. How was the Logstash Plugin installed

**JVM** (e.g. `java -version`):

If the affected version of Logstash is 7.9 (or earlier), or if it is NOT using the bundled JDK or using

[2021-06-28 16:31] fjlozanoacosta commented on #120
@tomryanx Could you elaborate on how to build the URL dynamically?

[2021-07-06 12:26] kaisecheng commented on #117
| Legacy  | ECS |
| ------------- | ------------- |
| [http_poller_metadata][url] | [url][full] |
| [http_poller_metadata][method] | [http][request][method] |
| [http_poller_metadata][response_code] | [http][response][status][code] |
| [http_poller_metadata][response_message] | [http][response][body][content] |
| [http_poller_metadata][host] | [host][ip]  |
| [http_poller_metadata][response_header

[2021-08-24 19:05] roaksoax commented on #117
Closing this issue as this has now been fixed in: https://github.com/logstash-plugins/logstash-input-http_poller/pull/129

[2021-08-24 19:05] #117 closed

[2021-09-12 14:10] alirezayosefian commented on #120
Hello Dear friends
I did a Google search for [**فرش قیطران**](https://hyperfarsh.com/product-brands/%d9%81%d8%b1%d8%b4-%d9%82%db%8c%d8%b7%d8%b1%d8%a7%d9%86/) SEO and with the help of seobility I came across this message: Avoid internal links with dynamic URL parameters. Thank you for your help. What is this problem for?
Thanks

[2022-03-09 13:33] HrvojeFER commented on #51
Any update on this? We're trying to fetch logs from an API that requires a timeframe for which to get the logs, so we have to update this timeframe for every request. Currently, updating the API is not an option because the API is produced by another company and the only resort is to creating a custom plugin based off of this one.

[2022-06-13 14:26] kares opened #135 "plugin is failing using JRuby 9.3.4"
this started to get clear with: https://github.com/logstash-plugins/logstash-input-http_poller/pull/130 (which reduced the false :red_circle: noise)
... show casing as an `ArgumentError: wrong number of arguments (given 0, expected 1)`

:red_circle: run: https://app.travis-ci.com/github/logstash-plugins/logstash-input-http_poller/jobs/573324418

work-around in Manticore (0.9.1) that resolved the i

[2022-06-13 14:30] kares commented on #135
the issue only happens with `JRUBY_OPTS="-Xjit.threshold=0 -Xcompile.invokedynamic"`

[2022-06-16 08:48] kares commented on #135
there's not much left to be done here,
given there's Manticore >= 0.9.1 with Logstash that includes JRuby 9.3.4.0 ... all should be working

[2022-06-16 08:48] #135 closed

[2022-10-07 13:38] felipefuller commented on #51
I'm with the same concern! My approach is to insert the data through a python script, nevertheless, this is a better option. Any updates? Thank you very much!

[2022-11-16 10:24] MrYone opened #136 "POST Form data"
I hope the body can support Form data and Json data.